{{!-- This page is an example placeholder. If you do not want the destroy option, feel free to remove it--}}

{{!-- DIV FOR WHOLE VIEW CARD --}}
<div >

{{!-- BUTTON HEADER FOR SEARCH CARD --}}
<div class="card" style="vertical-align: auto;">
<div class="card-header" id="search-nutrition" style="background-color:grey; color:white;">
  <input id="nutrition" type="text" name="title" placeholder="Ingredient" autofocus>
  <span class="button is-info" id="searchBTN">Search</span>
</div>
<div class="card-body" id="nutritional-search">
<ul style="background-color: grey; color: white; width: 50vw;">
  
  {{#each nutrition}}
  <li data-id="{{id}}"><input class="complete" type="checkbox" name="isCompleted" value="true" {{#if isCompleted}}
      Here is the nutritional information!
  {{/if}}>
  {{title}} [<a href="#" class="destroy">X</a>]</li>
  {{else}}
  <p>{{ calories }}</p>
  <p>{{ fat.label }} {{ fat.quantity }}</p>
  <p>{{ chocdf.label }} {{ chocdf.quantity }}</p>
  <p>{{ fibtg.label }} {{ fibtg.quantity }}</p>
  <p>{{ sugar.label }} {{ sugar.quantity }}</p>
  <p>{{ procnt.label }} {{ procnt.quantity }}</p>
  <p>{{ na.label }} {{ na.quantity }}</p>
  <p>{{ ca.label }} {{ ca.quantity }}</p>
  <p>{{ fe.label }} {{ fe.quantity }}</p>
  <p>{{ zn.label }} {{ zn.quantity }}</p>
  

  <div id="nutritionResult"></div>
  
  {{/each}}
</ul>
</div>
</div>
</div>

<script src="/assets/js/todos.js"></script>