{{!-- Partial page for adding recipes 
Reference for changing form input types to dropdown, textarea, etc: 
https://bulma.io/documentation/form/general/
If you do not want the destroy option, feel free to remove them--}}

<div class="container" style="background-image: url(./assets/images/mainBackground.jpg); 
background-position: center center; background-repeat:  no-repeat; background-attachment: fixed; 
background-size: cover; background-color:grey; color: white; width: 50vw; min-height: calc(100vh - 40px);">
{{!-- HEADING --}}
<h1> Create a Recipe!</h1>

<form id="create-todo" action="/create" method="POST">
  <ul>
  {{!-- RECIPE NAME --}}
  <div class="field">
  <label class="label" style="color:white;">Recipe Name:</label>
  <input id="title" type="text" name="title" placeholder="Recipe Name"></li>
  </div>
  {{!-- CATEGORY --}}
  <div class="field">
  <label class="label" style="color:white;">Category:</label>
  <select class="select">
  <option id="category" type="text" name="category" placeholder="Italian">Italian</option>
  </select>
  </div>
  {{!-- COOK TIME --}}
  <div class="field">
  <label class="label" style="color:white;">Cook Time (in minutes):</label>
  <input id="cooktime" type="number" min="0" max="1000" name="cooktime" placeholder="40">
  </div>
  {{!-- INGREDIENTS Kept as input, but can change to textarea (which will pull the typing interface to 
  the top left corner) or do a drop down for ingredients if we can hook them from the api- 
  https://bulma.io/documentation/form/general/--}}
  <div class="field" style="width: 30vw;">
  <label class="label" style="color:white;">Ingredients:</label>
   <textarea class="textarea" id="ingredients" type="text" name="ingredients" 
  placeholder="Carrots, chicken, rice, etc." style="height: 20vh;">
  </textarea>
  </div>
  {{!-- INSTRUCTIONS --}}
  <div class="field" style="width: 30vw;">
  <label class="label" style="color:white;">Cooking Instructions:</label> 
  <textarea class="textarea" id="instructions" type="text" name="instructions" 
  placeholder="Chop ingredients, put in pan, fry, etc." style="height: 30vh;">
  </textarea>
  </div>
  {{!-- SUBMIT BUTTON --}}
  <div class="field">
  <button id="create-recipe" class="button" autofocus> Create Recipe </button>
  </div>
  </ul>
</form>

{{!-- Code for showing added items at bottom of form. We might want to create separate functions,
or if we leave them combined this way we will want to reduce the destroy button to one--}}
<div >
<ul style="background-color: white; color: black; width: 50vw;">
  {{#each cRecipes}}
  <li>
  {{title}} 
  {{category}} 
  {{cookTime}} 
  </li>
  {{/each}}
</ul>
</div>
</div>

<script src="/assets/js/todos.js"></script>

{{!-- 
  {{title}} [<a href="#" class="destroy">X</a>]
  {{category}} [<a href="#" class="destroy">X</a>]
  {{cookTime}} [<a href="#" class="destroy">X</a>]
  {{ingredients}} [<a href="#" class="destroy">X</a>]
  {{instructions}} [<a href="#" class="destroy">X</a>] --}}